/* new nv */
#nv {
    overflow: hidden;
    height: 50px;
    background: none;
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    float:right;
}
.rabbit_nv {
	   background:#000000;
	   height:56px;
	   width: 100%;
}

#nv li.a {
    margin-left: -1px;
    background: none;
}
#nv li {
    float: left;
    padding-right: 10px;
	padding-left: 10px;
    height: 33px;
    line-height: 33px;
    background: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 55px;
}

#nv li a:hover{

        -webkit-transform:rotate(10deg);

        -moz-transform:rotate(10deg);

        -o-transform:rotate(10deg);

        -ms-transform:rotate(10deg);

        transform:rotate(10deg);
		
}
#nv li a:hover {
    background: none;
}

#nv li.hover a:hover, #nv li.hover a {
    background: none;
}
#nv li a {
    float: left;
    padding: 0 15px;
    height: 33px;
    text-decoration: none;
}

.rabbit_zx {
    float: right;
    margin-top: 10px;
    COLOR: #FFF;
    margin-left: 0px;
    margin-right: -60px;
    line-height: 16px;
    font-size: 6px;
    text-decoration: none;
    background: #e33;
    padding-right: 3px;
    padding-left: 3px;
    padding-bottom: 3px;
    padding-top: 3px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 12px;
}

.rabbit_nvlitter{
	margin-top: -30px;
}

.rabbit_nvlitter-content {
    width: 90px;
    background-color: #FFFFFF;
    position: absolute;
    display: none;
    box-shadow: 0px 8px 15px 0px rgba(0,0,0,0.2);
    margin-top: 30px;
}

.rabbit_nvlitter-content a{
    color:black;
    padding:12px 16px;
    text-decoration:none;
    display:block;
}

.rabbit_nvlitter-content a:hover{
    background-color:#F1F1F1;
}

.rabbit_nvlitter:hover .rabbit_nvlitter-content{
    display: block;
}
.rabbit_nv_right{float:right;margin-top:-65px;margin-right:-95px;padding-right: 5px;}
.rabbit_nv_avtar img{width:45px;height:45px;border-radius:3px;margin-left: -50px;}

.rabbit_nv_avtar img:hover {
    width: 45px;
    height: 45px;
    border-radius: 3px;
    margin-left: -50px;
    -webkit-transition: all 1s;
    -webkit-transform: rotate(360deg);
}
.h_pop {
    min-width: 120px;
    border-top: none;
    margin-top: 5px;
}
.rabbit_ts{
	margin-left:5px;
	border-radius:50%;
	background:#E91E63;
	padding-left:2px;
	padding-right:2px;
	font-size:12px;
	padding-bottom:2px;
	padding-top:2px;
	text-decoration: none;
}
.rabbit_ts:hover{
	margin-left:5px;
	border-radius:50%;
	background:#E91E63;
	padding-left:2px;
	padding-right:2px;
	font-size:12px;
	padding-bottom:2px;
	padding-top:2px;
	text-decoration: none;
}
.rabbit_meuts {
    border-radius: 50%;
    background: #795548;
    padding-left: 1px;
    padding-right: 1px;
    font-size: 11px;
    padding-bottom: 1px;
    padding-top: 1px;
    text-decoration: none;
    float: right;
    margin-right: -13px;
}
.rabbit_pm {
	margin-left:5px;
	border-radius:50%;
	background:#795548;
	padding-left:2px;
	padding-right:2px;
	font-size:12px;
	padding-bottom:2px;
	padding-top:2px;
	text-decoration: none;
}

/* new logo */

.rabbit_logo{
	float:left;
	-webkit-transition: all 1s;
}

.rabbit_logo img:hover {
   -webkit-transform: rotate(360deg);
   -webkit-transition: all 1s
  }
  
/* nv right  */
 .rabbit_nv_before {
    float: right;
    margin-top: -50px;
    COLOR: #FFF;
    margin-left: 0;
    margin-right: -155px;
    line-height: 16px;
    font-size: 14px;
}
.dr_before {
    float: right;
    margin-right: -30px;
    margin-top: -16px;
}
.dr {
    width: 90px;
    background-color: #FFFFFF;
    position: absolute;
    display: none;
    box-shadow: 0px 8px 15px 0px rgba(0,0,0,0.2);
    margin-left: -1px;
}
.zc_before {
    float: right;
    margin-right: -70px;
    margin-top: -16px;
}
.rabbit_zx:hover {
    float: right;
    margin-top: 10px;
    COLOR: #FFF;
    margin-left: 0px;
    margin-right: -60px;
    line-height: 16px;
    font-size: 6px;
    text-decoration: none;
    background: #999;
    padding-right: 3px;
    padding-left: 3px;
    padding-bottom: 3px;
    padding-top: 3px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 12px;
}
.rabbit_zx a {
    float: right;
    color: #FFF;
	text-decoration: none;
}


/* fenqu */
.bm_h .o img {
    float: right;
    margin-top: 17px !important;
    cursor: pointer;
}
.fl {
    border: 1px solid #FFF;
    background: #FFF;
}
.bm {
    margin-bottom: 10px;
    background: none;
}
.fl .bm {
    margin-bottom: 0;
    border: none;
}
.bm {
    background: #FFF;
}
.fl .bm_h {
    margin: 0 10px;
    padding: 0;
    border: 0;
    border-bottom: 1px solid black;
    background: #FFF;
}
.bm_h {
    line-height: 42px;
    white-space: nowrap;
    overflow: hidden;
    padding: 0 10px;
}
.fl .bm_h h2 a {
    float: left;
    height: 38px;
    line-height: 40px;
    border-bottom: 4px solid black;
    font-size: 16px;
    padding: 0 10px;
    text-decoration: none;
    color: black;
}
.bm_h {
    height: 42px !important;
}
.fl .bm_h h2 a:hover {
    float: left;
    height: 38px;
    line-height: 40px;
    border-bottom: 8px solid black;
    font-size: 16px;
    padding: 0 10px;
    text-decoration: none;
    color: black;
	transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
}

/* °æ¿é */
#atarget {
    padding-right: 15px;
}
.tz_sx {
    border: 1px solid #CDCDCD;
    background: #F2F2F2;
    padding: 0 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: none;
}
.rabbit_avtar img {
    width: 45px;
    height: 45px;
    border-radius: 3px;
    margin-top: -65px;
	float: right;
	-webkit-transition: all 1s;
}
.rabbit_bk_box_avtar img:hover {
    border: 1px solid #CCCCCC;
    border-radius: 100px;
    margin-top: -15px;
    width: 100px;
    height: 100px;
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.2);
    transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -webkit-transform: rotate(400deg);
    -o-transform: rotate(30deg);
	-webkit-transition: all 1s;
}
.rabbit_name {
    float: right;
    margin-top: -50px;
    COLOR: #FFF;
    margin-left: 0;
    margin-right: -90px;
    line-height: 16px;
    font-size: 14px;
	text-decoration: none;
}
.rabbit_name a {
    float: right;
    color: #FFF;
    line-height: 16px;
    font-size: 14px;
	text-decoration: none;
}

.fold {
    display: none !important;
}

.rabbit_bk {
    margin-left: -150px !important;
}
#ft {
    border-top: none;
}
.rabbit_bk_box {
    float: right;
    margin-top: -10px;
    background: #FFF;
    width: 320px;
    height: 245px;
    margin-right: -350px;
    border-top: 3px solid rgba(0, 0, 0, 0.62) !important;
    border: 1px solid #DDDDDD;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
}
.rabbit_bk_box_name{
	line-height: 2;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 18px;
    color: #666;
    overflow: hidden;
	text-align: center;
	font-family: -webkit-pictograph;
}
.rabbit_bk_box_name:hover {
    line-height: 2;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 18px;
    color: #666;
    overflow: hidden;
    text-align: center;
    font-family: -webkit-pictograph;
    -webkit-animation: run ease-in-out 9s infinite;
    text-shadow: 1px 1px 1px #ccc, 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #3EFF3E, 0 0 70px #3EFFff, 0 0 80px #3EFFff, 0 0 100px #3EFFee, 0 0 150px #3EFFee;
  }
.rabbit_bk_box_avtar img{
    border: 1px solid #CCCCCC;
    border-radius: 100px;
    margin-top: -15px;
    width: 100px;
    height: 100px;
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.2);
}
.rabbit_bk_box_avtar{
    border-radius: 100px;
    margin-top: -5px;
    width: 100px;
    height: 100px;
	padding-left: 100px;
}

  .icon4 {
    background: url('{STYLEIMGDIR}/icon4.png')no-repeat;
}
  .icon3 {
    background: url('{STYLEIMGDIR}/icon3.png')no-repeat;
}
  .icon2 {
    background:  url('{STYLEIMGDIR}/icon2.png')no-repeat;
}
  .icon1 {
    background:url('{STYLEIMGDIR}/icon1.png')no-repeat;
}
  .rabbit_bk_box_icon {
    display: inline-block;
    cursor: pointer;
    width: 60px;
    height: 60px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

 .rabbit_bk_box_icon:hover {
    transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    -o-transform: rotate(30deg);
}
  .link span {
    display: block;
    line-height: 1;
    margin-top: 10px;
}
  .link {
    float: left;
    width: 25%;
    font-size: 12px;
    padding: 0;
    cursor: pointer;
}
  .rabbit_bk_box_quckly {
    margin-top: 15px;
    text-align: center;
}
  .rabbit_bk_box_left{border-left:black solid 4px;
    padding-left: 5px;
    height: 16px;
    line-height: 16px;
    overflow: hidden;
}

  .rabbit_bk_box_left:hover {
    border-left: black solid 8px;
    padding-left: 7px;
    height: 16px;
    line-height: 16px;
    overflow: hidden;
}
  .rabbit_bk_box_acm:hover {
    padding-left: 7px;
    height: 16px;
    line-height: 16px;
    overflow: hidden;
    color:red;
}
 .rabbit_bk_newy{
	float:right;
    margin-right: -150px;
}
 .rabbit_bk_newy a{
  color:#03978b;
  padding-left: 1px;
}
.fa_fav {
    background-image:none !important;
}
.fa_rss {
    background-image:none !important;
}
.fa_bin {
    background-image:none !important;
}
.rabbit_bk_post {
    background: #2e2e2e;
    width: 120px;
    height: 34px;
    text-align: center;
    color: #FFF;
    line-height: 29px;
    font-size: 14px;
    float: right;
	margin-top: 5px;
    margin-right: 15px;
}
.rabbit_bk_post:hover {
    background: black;
    width: 120px;
    height: 34px;
    text-align: center;
    color: #FFF;
    line-height: 30px;
    font-size: 14px;
    float: right;
	margin-top: 5px;
    margin-right: 15px;
}
.rabbit_bk_post a{
   color:#FFF;
}
.xi2 a {
    color: #999;
}
.bml .bm_c {
    padding-top: 0;
    color: #999 !important;
}
.xs2 a:hover {
    text-decoration: none;
}
.rabbit_bkmc{
	font-size: 24px;
}
.rabbit_bkmc a{
	font-size: 24px;
}
.bm {
    border:none;
}
.bmw {
    border-top: 1px solid #CDCDCD;
}
.tl .th {
    margin-top: 1px;
    padding: 0 10px;
    border-bottom: 1px solid #CDCDCD;
    background: #F2F2F2;
    display: none;
}
.tl tr:hover th, .tl tr:hover td {
    background-color: #FFF;
}
.tl th, .tl td {
    padding: 5px 0;
    border-bottom: 1px dashed #cecdcd !important;
}
.tl .by {
    width: 105px;
    line-height: 25px !important;
}


/* footer */
#flk {
    text-align: right;
    margin-right: 255px;
    padding-top: 15px;
}

/* v */
.replyadd:hover {
    background: url('{STYLEIMGDIR}/icon.png') no-repeat !important;
    background-position: 0 -115px !important;
    padding-right: 15px !important;
    padding-left: 20px!important;
}
.replyadd {
    background: url('{STYLEIMGDIR}/icon.png') no-repeat !important;
    background-position: 0 -25px !important;
    padding-right: 15px !important;
    padding-left: 20px!important;
}
.rabbit_dz{
	color:#999;
	font-size: 12px;
	padding-left:12px;
}
.editp {
	background: url('{STYLEIMGDIR}/icon.png') no-repeat !important;
    background-position: 0 -60px !important;
    padding-top: 1px !important;
    padding-left: 15px !important;
}
.editp:hover {
    background: url('{STYLEIMGDIR}/icon.png') no-repeat !important;
	background-position: 0 -150px !important;
	padding-top: 1px !important;
	padding-left: 15px !important;
}
.fastre {
    background: url('{STYLEIMGDIR}/icon.png') no-repeat !important;
    padding-top: 1px !important;
}
.fastre:hover {
    background: url('{STYLEIMGDIR}/icon.png') no-repeat !important;
	background-position: 0 -90px !important;
    padding-top: 1px !important;
}
  .pob a:hover{
   color:#03978b;
  }
  
.rabbit_xs{
	cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
    line-height: 30px;
    background: hsla(16, 100%, 50%, 0.78);
    color: #FFFFFF;
    border-radius: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.rabbit_ydqx {
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
    line-height: 30px;
    background: #009688;
    color: #FFFFFF;
    border-radius: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.rabbit_sale {
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
    line-height: 30px;
    background: #E91E63;
    color: #FFFFFF;
    border-radius: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.rabbit_xsgive {
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
    line-height: 30px;
    background: #607D8B;
    color: #FFFFFF;
    border-radius: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.xi1, .onerror {
    color: #999;
}
.authi em{
	color: #999;
	}
	
.rabbit_ll{
	color:#999;
	padding-left:15px;
}
.rabbit_ck{
	color:#999;
}
.rabbit_title{
	margin: 10px 0 15px;
    line-height: 30px;
    text-align: center;
    font-weight: 400;
    font-size: 24px;
}
.pi{
    overflow: hidden !important;
    margin-bottom: 10px !important;
    padding: 5px 1px 15px !important;
    height: 40px !important;
    border-bottom: 1px dashed #CDCDCD !important;
	line-height: 58px;
    color: #999;
    font-size: 12px;
}
.pi strong a {
    float: right;
    margin-top: -6px;
    padding: 4px 6px;
    border: 1px solid #FFF;
    font-weight: 400;
    color: #999;
	line-height: 58px;
}

/* pls */
.pls {
    width: 200px !important;
    background: #e1eae6;
    overflow: hidden;
    text-align: center;
    background: #e1eae6 !important;
	border-right: none !important;
}
.authi a{
	color: #636564;
    text-decoration: none;
    font-size: 15px;
}
.pls .avatar img {
    padding: 5px 5px 8px;
    width: 120px;
	width: 98px !important;
    height: auto;
    height: 98px !important;
    border-radius: 100px;
    box-shadow: none;
    border: none;
	background: none !important;
}
.ad .pls {
    background: #C2D5E3 !important;
    padding: 0;
    height: 4px;
}
.ad .plc {
    background: #C2D5E3 !important;
    padding: 0;
    overflow: hidden;
}
.team {
    background: url(http://localhost/discuz/upload/data/attachment/forum/201701/24/121911kq7xptg1zt17ttc3.png) no-repeat left top;
}

/* fast post */

#f_pst .plc {
    padding: 20px;
    height: 250px !important;
}

.tedt {
    width: 100% !important;
    border: 1px solid;
    border-color: #D4D4D4;
}
.teat .bar {
    padding: 0 10px 0 0;
    height: 25px;
    line-height: 25px;
    border-bottom: 1px solid #e1e1e1;
    background: #fafafa;
}
.tedt .area {
    padding: 4px;
    background: #FFF;
    zoom: 1;
}
#fastsmilies {
    text-align: right;
    display: none;
}
.hasfsl {
    margin-right: 0px!important;
    zoom: 1;
}
.rabbit_post_hfbg {
    border-color: #03978b !important;
    background-color: #03978b !important;
    background-position: 0 -48px;
    color: #FFF !important;
}
.rabbit_post_hf {
    vertical-align: middle;
    overflow: hidden;
    margin-right: 3px;
    padding: 0;
    height: 23px;
    border: 1px solid #999;
    background: none;
    cursor: pointer;
    -moz-box-shadow: 0 1px 0 #E5E5E5;
    -webkit-box-shadow: 0 1px 0 #E5E5E5;
    box-shadow: 0 1px 0 #E5E5E5;
    width: 120px;
    float: right;
    height: 34px;
}
.rabbit_post_hf:hover {
    vertical-align: middle;
    overflow: hidden;
    margin-right: 3px;
    padding: 0;
    height: 23px;
    border: 1px solid #999;
    background: none;
    cursor: pointer;
    -moz-box-shadow: 0 1px 0 #E5E5E5;
    -webkit-box-shadow: 0 1px 0 #E5E5E5;
    box-shadow: 0 1px 0 #E5E5E5;
    width: 120px;
    float: right;
    height: 34px;
	background:#35ABA2 !important;
}

.rabbit_fastpost_name {
    font-weight: 700;
    border-bottom: 1px dashed #c3cfca;
    padding-top: 2px;
    height: 58px;
    line-height: 58px;
    overflow: hidden;
    font-size: 15px;
}
.rabbit_fastpost {
    background: #ececec !important;
}
.rabbit_hf{
    margin-bottom: 18px;
    font-size: 18px;
}

/* µ¯´° */
.rfm {border-bottom:0px;font-size:14px;}
.rfm input{margin-left:10px;margin-right:10px;padding:10px;border-radius:10px;font-size:13px;}
.rfm input:focus{outline:none;}
.rfm select{margin-left:10px;margin-right:10px;padding:10px;border-radius:10px;font-size:13px;}
.rfm select:focus{outline:none;}
.rfm button{background:#333333 url('');padding:10px;padding-left:40px;padding-right:40px;padding-top:7px;height:40px;font-size:20px;border-radius:10px;box-shadow:1px 1px 1px #CCCCCC;}
.rfm button:hover{background:#888888 url('');padding:10px;padding-left:40px;padding-right:40px;padding-top:7px;height:40px;font-size:20px;border-radius:10px;box-shadow:3px 3px 5px #CCCCCC;}

/* ad */
  .rabbit_weichat {
    right: 0;
    text-align: right;
    margin-top: px;
	 float: right;
    position: fixed;
    top: 350px;
    z-index: 100;
}
#mu ul {
    background: none !important;
    line-height: 22px;
    z-index: 2;
    font-size: 12px;
}
.rabbit_mu {
    position: relative;
    z-index: 1;
    border: none !important;
    background: #F6F6F6;
}

/* diy */
.rabbit_diy {
    float: right;
    margin-top: 250px;
    margin-right: -350px;
    background: #FFF;
    width: 32.5%;
    padding: 5px 10px 10px;
    border-top: 3px solid rgba(0,0,0,0.62) !important;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
}
.rabbit_diy li {
    line-height: 30px;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
    overflow: hidden;
    padding-left: 5px;
    padding-top: 5px;
}
.rabbit_diy_title {
    border-bottom: 1px solid #ddd;
    padding: 24px 0 24px 30px;
    line-height: 1;
    font-size: 18px;
}
.oll li {
    float: left;
    overflow: hidden;
    white-space: nowrap;
    width: 19.9%;
    height: 40px !important;
    line-height: 24px;
}

/* other bg*/
.pbg {
    height: 16px !important;
    -webkit-border-radius: 0 6px 6px 0;
    -moz-border-radius: 0 6px 6px 0;
    border-radius: 0 6px 6px 0;
}
.ct3_a {
    border: 1px solid #CCC;
    background: white !important;
}

  #ct.ct2_a{
    border: 1px solid #CCC;
    background: white !important;
}

/* little nv piugin*/
.rabbit_nvlitter-content img {
    margin-left: -15px;
    width: 87px;
    height: 25px;
	-webkit-transition: all 1s;
}

.rabbit_nvlitter-content span {display:none !important;}

/*other */
#scrolltop {
    left: 0 !important;
    position: fixed !important;
}

